<div class="project-list-component">
    <p-card class="h-100 d-block">
        <p-panel showHeader="false">
            <p-floatlabel>
                <input id="project-search" autocomplete="off" pInputText [(ngModel)]="searchText" />
                <label for="project-search">Search</label>
            </p-floatlabel>

            <p-button icon="fa fa-plus" label="New Project" (click)="createNewProject()"></p-button>
        </p-panel>

        <ng-container *ngIf="!!(projectList$ | async)">
            <p-dataview [value]="(projectList$ | async)!">
                <ng-template #header>
                </ng-template>

                <ng-template #list let-items>
                    <div *ngFor="let project of items" class="project-card-container">
                        <p-card>
                            <ng-template #header>
                                <h5 class="project-title" (click)="selectProject(project)">{{project.name}}</h5>
                            </ng-template>

                            <div class="project-card-wrapper">
                                <pre class="project-card-content">{{project.description?.trim()}}</pre>
                                <div class="project-card-controls">
                                    <p-button icon="fa fa-trash" severity="danger"
                                        (click)="deleteProject(project)"></p-button>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </ng-template>
            </p-dataview>
        </ng-container>
    </p-card>
</div>

<p-dialog [(visible)]="isNewProjectDialogVisible">
    <p-floatlabel>
        <input id="new-project-name" autocomplete="off" pInputText [(ngModel)]="newProjectName" />
        <label for="new-project-name">Project Name</label>
    </p-floatlabel>

    <ng-template #footer>
        <div class="contorl-panel">
            <p-button label="OK" (onClick)="onNeProjectComplete(false)"></p-button>
            <p-button label="Cancel" (onClick)="onNeProjectComplete(true)"></p-button>
        </div>
    </ng-template>
</p-dialog>