@import '../../../../../layout.scss';

.editor-container {
    @extend %_fit-container-hidden;
    display: flex;
    flex-direction: column;

    .native-editor-container {
        @extend %_fit-container-hidden;
    }

    .text-container {
        width: 100%;
        height: 100%;

        textarea {
            width: 100%;
            height: 100%;
            min-height: 14em;
            resize: none;
        }

    }

    .monaco-editor-container {
        @extend %_fit-container-hidden;

        app-monaco-editor {
            height: 100%;
            display: block;
        }
    }


    .content-container {
        // @extend %_fit-container-hidden;
        flex: 1 1 auto;
        overflow-y: hidden;
    }

    .markup {
        @extend %_fit-container-scroll;
        width: 100%;
    }

    &.popout {
        height: 100%;
        display: flex;
        flex-direction: column;

        .text-container {
            height: 100%;
            display: flex;
            flex-direction: column;

            textarea {
                flex: 1 1 auto;
                height: 100%;
            }

        }
    }
}