@import '../../../../../layout.scss';

.editor-container {
    @extend %_fit-container-hidden;
    display: flex;
    flex-direction: column;

    .text-container {
        width: 100%;

        textarea {
            width: 100%;
            min-height: 14em;
        }

        .markup {
            width: 100%;
        }
    }

    .monaco-editor-container {
        @extend %_fit-container-hidden;

        app-monaco-editor {
            height: 100%;
            display: block;
        }
    }


    .content-container {
        height: 100%;
    }

    &.popout {
        height: 100%;
        display: flex;
        flex-direction: column;

        .text-container {
            height: 100%;
            display: flex;
            flex-direction: column;

            textarea {
                flex: 1 1 auto;
                height: 100%;
            }

        }
    }
}