<div *ngIf="!!wrapper" class="editor-container" [ngClass]="{popout: inPopoutScreen}">

    <p-selectbutton [options]="modeOptions" [(ngModel)]="mode"></p-selectbutton>

    <div class="content-container">
        <div *ngIf="mode==='text'" class="text-container">
            <label for="text-input">Content</label>
            <textarea pTextarea id="text-input" autocomplete="off" pInputText [(ngModel)]="wrapper.content"></textarea>
        </div>

        <div *ngIf="mode==='formatted'">
            <p-editor [(ngModel)]="wrapper.content" [style]="{ height: '100%' }" />
        </div>

        <div [innerHTML]="htmlContent" class="markup" *ngIf="mode==='rendered'"></div>

    </div>
</div>