.ollama-configurations {
    display: flex;

    .configuration-list-container {
        min-width: 25%;

        .configuration-list-item {
            cursor: pointer;
            padding: 1em;

            .list-item-title {
            }
        }
    }

    .configuration-detail-container {
        flex: 1 1 auto;
        max-width: 50em;

        textarea {
            width: 100%;
            height: 10em;
        }

        .format-container {
            .format-item {
                display: flex;
            }
        }
    }
}
