<ng-template #pageControls>
  <div class="button-row">
    <p-button size="small" [rounded]="true" *ngIf="!isLoading" icon="fa-solid fa-paper-plane-top" severity="success"
      (click)="sendMessage()"></p-button>

    <p-button size="small" [rounded]="true" *ngIf="isLoading" label="Cancel" severity="danger"
      (click)="cancelLlmMessage()"></p-button>

    <p-button size="small" [rounded]="true" icon="fa-solid fa-arrow-down" severity="primary"
      (click)="scrollChatToBottom()"></p-button>

    <p-button icon="fa-solid fa-list-tree" [rounded]="true" size="small" *ngIf="pageSizeService.isSkinnyPage"
      (click)="openDrawer()"></p-button>

    <a [routerLink]="['/projects', projectId, 'chat-rooms', chatRoomId]">
      <p-button size="small" [rounded]="true" severity="help" icon="fa-solid fa-gears"></p-button>
    </a>

    <p-button size="small" [rounded]="true" [disabled]="isLoading" icon="fa-solid fa-trash-xmark" severity="danger"
      (click)="clearMessages()"></p-button>
  </div>
</ng-template>

<div class="chatting-container">

  <div class="chatting-pane left" *ngIf="!pageSizeService.isSkinnyPage">
    <div class="checkbox-container">
      <p-checkbox [binary]="true" [(ngModel)]="autoScroll"></p-checkbox>
      <label>Auto-Scroll To Bottom</label>
    </div>
    <app-chatting-job-list></app-chatting-job-list>
  </div>

  <div class="chatting-pane" [ngClass]="{'right': !pageSizeService.isSkinnyPage}">
    <p-splitter layout="vertical" [minSizes]="[20, 20]" [panelSizes]="[80, 20]" [style]="{height: '100%'}">

      <ng-template #panel>
        <div class="chat-history-area" *ngIf="(chatHistory$ | async ) as messages">
          <app-chat-message *ngFor="let message of messages" [message]="message"></app-chat-message>
        </div>
      </ng-template>

      <ng-template #panel>

        <div class="chat-input-area row">
          <div class="row">
            <ng-container *ngTemplateOutlet="pageControls"></ng-container>
          </div>

          <textarea class="chat-input" id="user-message" pTextarea placeholder="Your chat message...."
            [(ngModel)]="chatMessage"></textarea>

        </div>
      </ng-template>
    </p-splitter>
  </div>
</div>
<!-- 
<div class="floating-page-controls">
  <ng-container *ngTemplateOutlet="pageControls"></ng-container>
</div> -->

<p-drawer *ngIf="pageSizeService.isSkinnyPage" [(visible)]="showDrawer" header="Chat Tasks"
  [style]="pageSizeService.standardDrawerStyle" [fullScreen]="pageSizeService.isFullScreenDialogs">
  <div class="checkbox-container">
    <p-checkbox [binary]="true" [(ngModel)]="autoScroll"></p-checkbox>
    <label>Auto-scroll To Bottom</label>
  </div>
  <app-chatting-job-list (itemClicked)="closeDrawer()"></app-chatting-job-list>
</p-drawer>