<ng-template #pageControls>
  <div class="button-row">
    <div class="submit-button-container">
      <p-button size="small" [rounded]="true" *ngIf="!isLoading" icon="fa-solid fa-paper-plane-top" severity="success"
        (click)="sendMessage()"></p-button>
    </div>

    <div class="other-buttons">
      <p-button size="small" [rounded]="true" *ngIf="isLoading" label="Cancel" severity="danger"
        (click)="cancelLlmMessage()"></p-button>
        
      <p-button size="small" [rounded]="true" icon="fa-solid fa-message-pen" severity="info"
        (click)="showMonacoEditor()"></p-button>

      <p-button size="small" [rounded]="true" icon="fa-solid fa-arrow-down" severity="primary"
        (click)="scrollChatToBottom()"></p-button>

      <p-button icon="fa-solid fa-list-tree" severity="contrast" [rounded]="true" size="small"
        *ngIf="pageSizeService.isSkinnyPage" (click)="openDrawer()"></p-button>

      <a [routerLink]="['/projects', projectId, 'chat-rooms', chatRoomId]">
        <p-button size="small" [rounded]="true" severity="help" icon="fa-solid fa-gears"></p-button>
      </a>
    </div>

    <div class="other-buttons">
      <p-button tabindex="-1" size="small" [rounded]="true" [disabled]="isLoading" icon="fa-solid fa-trash-xmark"
        severity="danger" (click)="clearMessages()"></p-button>
    </div>
  </div>
</ng-template>

<div class="chatting-container">

  <div class="chatting-pane left" *ngIf="!pageSizeService.isSkinnyPage">
    <div class="checkbox-container">
      <p-checkbox [binary]="true" [(ngModel)]="autoScroll"></p-checkbox>
      <label>Auto-Scroll To Bottom</label>
    </div>
    <app-chatting-job-list></app-chatting-job-list>
  </div>

  <div class="chatting-pane" [ngClass]="{'right': !pageSizeService.isSkinnyPage}">
    <p-splitter layout="vertical" [minSizes]="[20, 20]" [panelSizes]="[80, 20]" [style]="{height: '100%'}">

      <ng-template #panel>
        <div class="chat-history-area" *ngIf="(chatHistory$ | async ) as messages">
          <app-chat-message *ngFor="let message of messages" [message]="message"></app-chat-message>
        </div>
      </ng-template>

      <ng-template #panel>

        <div class="chat-input-area row">
          <textarea class="chat-input row" id="user-message" pTextarea placeholder="Your chat message...."
            [(ngModel)]="chatMessage"></textarea>

          <div class="row">
            <ng-container *ngTemplateOutlet="pageControls"></ng-container>
          </div>
        </div>
      </ng-template>
    </p-splitter>
  </div>
</div>

<p-dialog header="Edit Message" [(visible)]="isMonacoEditorVisible" [closeOnEscape]="false" [maximizable]="true"
  [style]="{width: '60vw', height: '70vh'}" appendTo="body">
  <div class="edit-message-content">
    <app-monaco-editor *ngIf="isMonacoEditorVisible" [editorOptions]="messageMonacoEditorOptions"
      [(content)]="chatMessage"></app-monaco-editor>
  </div>

  <ng-template #footer>
    <div class="footer-button-controls">
      <p-button label="Close" (click)="closeMonacoEditor()"></p-button>
    </div>
  </ng-template>
</p-dialog>

<p-drawer *ngIf="pageSizeService.isSkinnyPage" [(visible)]="showDrawer" header="Chat Tasks"
  [style]="pageSizeService.standardDrawerStyle" [fullScreen]="pageSizeService.isFullScreenDialogs">
  <div class="checkbox-container">
    <p-checkbox [binary]="true" [(ngModel)]="autoScroll"></p-checkbox>
    <label>Auto-scroll To Bottom</label>
  </div>
  <app-chatting-job-list (itemClicked)="closeDrawer()"></app-chatting-job-list>
</p-drawer>