<form #agentConfigForm="ngForm" (ngSubmit)="onOk()">
    <div>
        <app-agent-type-selector [(value)]="agentConfig.modelInfo"></app-agent-type-selector>
    </div>
    <div class="grid">
        <div class="row">
            <div class="form-group col-6 full-width">
                <p-floatlabel>
                    <input pInputText id="agent-name" class="full-width" name="name" [(ngModel)]="agentConfig.name"
                        required autocomplete="off" />
                    <label for="agent-name">Configuration Name</label>
                </p-floatlabel>
            </div>
            <div class="form-group col-6 full-width">
                <p-floatlabel>
                    <input pInputText id="chat-name" class="full-width" name="chatName"
                        [(ngModel)]="agentConfig.chatName" required autocomplete="off" />
                    <label for="chat-name">Display Name</label>
                </p-floatlabel>
            </div>
        </div>
    </div>
    <div class="form-group">
        <p-floatlabel>
            <textarea class="agent-description-fullwidth" pInputTextarea id="description" name="description"
                [(ngModel)]="agentConfig.description" autocomplete="off"></textarea>
            <label for="description">Description</label>
        </p-floatlabel>
    </div>
    <div class="footer-button-controls">
        <button pButton type="button" label="Cancel" (click)="onCancel()" class="p-button-secondary"></button>
        <button pButton type="submit" label="OK" [disabled]="agentConfigForm.invalid" (click)="onOk()"></button>
    </div>
</form>