.control-container {
    margin-bottom: 1em;
    width: 100%;
    align-items: baseline;

    padding-bottom: 1em;
    border-bottom: 2px rgb(214, 214, 214) solid;

    .content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: baseline;

        .inputs-container {}

        .button-container {
            display: flex;
            align-items: baseline;

            p-button {
                margin-right: 0.75em;
            }
        }

        .controls-container {
            display: flex;
            align-items: baseline;

            >* {
                margin-right: 0.75em;
            }
        }

        .display-name {
            width: 100%;
        }

        .footer-button-controls {
            align-items: baseline;
            margin-top: 0.75em;
        }
    }

    .column-width {
        min-width: 12em;
    }
}