@import "../../../../../layout.scss";

:host {
    @extend %_fit-container-hidden;
}

.project-detail-component {
        @extend %_fit-container-hidden;

    .project-detail-container {
        @extend %_fit-container-hidden;
        display: flex;
        flex-direction: column;

        > p-panel {
            margin-bottom: 2em;
        }

        .project-tab-content {
            @extend %_fit-container-hidden;
            flex: 1 1 auto;

            .overview-container {
                @extend %_fit-container-scroll;
            }

            textarea {
                width: 100%;
            }

        }
    }

    .project-tabs {
        display: flex;
        justify-content: space-around;
        cursor: pointer;

        .project-tab {
            display: flex;

            > * {
                align-self: baseline;
                font-size: 1.5em;
            }

            .project-icon {
                margin-right: 0.5em;
            }

            .project-tab-title {
                flex: 1 1 auto;
            }

            &.selected {
                font-weight: bold;
                text-decoration-line: underline;
            }
        }
    }
}
