<ng-template #projectTab let-title="title" let-icon="icon" let-selectionIndex="selectionIndex">
    <div class="project-tab" (click)="tabClicked(selectionIndex)" [ngClass]="{
                selected: selectionIndex === selectedTab
            }">
        <i *ngIf="icon" [class]="'project-icon fa-regular ' + icon"></i>
        <div class="project-tab-title">
            {{title}}
        </div>
    </div>
</ng-template>

<div class="project-detail-component">
    <div *ngIf="project; else noProject" class="project-detail-container">
        <p-panel [showHeader]="false">
            <h2>
                Project: {{project.name}}
            </h2>
        </p-panel>

        <p-panel [showHeader]="false">
            <div class="project-tabs">
                <ng-container
                    *ngTemplateOutlet="projectTab; context:{ title: 'Overview', selectionIndex: 'overview', icon: 'fa-square-list'}"></ng-container>
                <ng-container
                    *ngTemplateOutlet="projectTab; context:{ title: 'Project Knowledge', selectionIndex: 'project-knowledge', icon: 'fa-solid fa-book'}"></ng-container>
                <ng-container
                    *ngTemplateOutlet="projectTab; context:{ title: 'Partner Templates', selectionIndex: 'agents', icon: 'fa-address-book'}"></ng-container>
                <ng-container
                    *ngTemplateOutlet="projectTab; context:{ title: 'Task Templates', selectionIndex: 'jobs', icon: 'fa-timeline-arrow'}"></ng-container>
                <ng-container
                    *ngTemplateOutlet="projectTab; context:{ title: 'Chat Rooms', selectionIndex: 'chat-rooms', icon: 'fa-users-between-lines'}"></ng-container>
            </div>
        </p-panel>

        <p-panel class="project-tab-content" *ngIf="selectedTab==='overview'" [showHeader]="false">
            <h3>Overview</h3>

            <p-floatlabel>
                <input id="project-name" autocomplete="off" pInputText [(ngModel)]="project.name" />
                <label for="project-name">Project Name</label>
            </p-floatlabel>

            <p-floatlabel>
                <label for="project-description">Project Description</label>
                <textarea id="project-description" pTextarea [rows]="6" [(ngModel)]="project.description"></textarea>
            </p-floatlabel>

            <ng-template #footer>
                <p-panel [showHeader]="false">
                    <div class="footer-button-controls">
                        <p-button icon="fa fa-floppy-disk" (click)="saveProject()"></p-button>
                    </div>
                </p-panel>
            </ng-template>
        </p-panel>

        <p-panel class="project-tab-content" *ngIf="selectedTab==='agents'" [showHeader]="false">
            <!-- <app-agent-configurations></app-agent-configurations> -->
            <router-outlet></router-outlet>
            <!-- <app-dummy-screen></app-dummy-screen> -->
        </p-panel>

        <p-panel class="project-tab-content" *ngIf="selectedTab==='jobs'" [showHeader]="false">
            <router-outlet></router-outlet>
        </p-panel>

        <p-panel class="project-tab-content" *ngIf="selectedTab==='chat-rooms'" [showHeader]="false">
            <router-outlet></router-outlet>
        </p-panel>

        <p-panel class="project-tab-content" *ngIf="selectedTab==='project-knowledge'" [showHeader]="false">
            <router-outlet></router-outlet>
        </p-panel>
    </div>
</div>

<ng-template #noProject>
    <h2>No project has been selected.</h2>
</ng-template>