
.chat-room-card-container {
    display: flex;
    align-items: baseline;
    margin: 0.5em;
}

.chat-room-card-controls {
    display: flex;
    align-items: flex-start;

    .button-container {
        display: flex;
        align-items: flex-start;
        gap: 0.5em;
    }

    .chat-room-title {
        cursor: pointer;
        font-size: 1.2em;
        font-weight: bold;
        flex: 1 1 0;
        margin-left: 1em;
        word-break: break-word;
        min-width: 0;
    }
}