.chat-room-card-controls {
    display: flex;
    justify-content: space-between;
}

.chat-room-title {
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #333;

    display: flex;
    .room-name {
        flex: 1 1 auto;
    }
    .icon {
        align-self: center;
    }
}
