<div class="chat-rooms-container">
  <div class="chat-room-list-column" *ngIf="!pageSizeService.isSkinnyPage">
    <app-chat-room-list></app-chat-room-list>
  </div>
  <div class="chat-room-detail-column">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="controls" *ngIf="pageSizeService.isSkinnyPage">
  <p-button icon="fa-solid fa-list-tree" [rounded]="true" size="small" (click)="openDrawer()"></p-button>
</div>

<p-drawer *ngIf="pageSizeService.isSkinnyPage" [(visible)]="showDrawer">
  <app-chat-room-list (itemClicked)="closeDrawer()"></app-chat-room-list>
</p-drawer>