<div *ngIf="!!wrapper" class="chat-message-container" [class.human]="wrapper.agent === 'human'"
  [class.ai]="wrapper.agent === 'ai'">

  <div class="chat-message-bubble">

    <div class="agent-name">
      {{name}}
      <span *ngIf="messageDateTime !== ''">({{messageDateTime}})</span>
    </div>

    <div class="message-content-container" [innerText]="message.data.content"></div>

    <div class="button-container">
      <p-button *ngIf="hasGeneratedVoiceUrl && hasVoicePermission" [disabled]="!canRegenerateVoiceUrl" size="small"
        (click)="playVoiceMessage(true)" [rounded]="true" [style]="{backgroundColor: 'red'}"
        icon="fa fa-circle"></p-button>

      <p-button *ngIf="canPlayVoiceMessage && hasVoicePermission && mediaState!=='busy-playing-self'"
        [disabled]="mediaState!=='can-play'" size="small" (click)="playVoiceMessage(false)" [rounded]="true"
        icon="fa fa-play"></p-button>

      <p-button *ngIf="mediaState==='busy-playing-self' && hasVoicePermission" size="small"
        (click)="stopVoicePlayback()" [rounded]="true" icon="fa fa-square"></p-button>

      <p-button size="small" (click)="copyMessageContent()" [rounded]="true" icon="fa fa-copy"
        severity="info"></p-button>

      <p-button size="small" (click)="editMessage()" [rounded]="true" icon="fa fa-pencil" severity="primary"></p-button>
      <p-button size="small" (click)="deleteMessage()" [rounded]="true" icon="fa fa-minus" severity="danger"></p-button>
      <p-button size="small" (click)="deleteMessageAndAfter()" [rounded]="true" icon="fa fa-trash-can-clock"
        severity="danger"></p-button>
    </div>
  </div>
</div>

<p-dialog header="Edit Message" [(visible)]="isEditDialogVisible" [closeOnEscape]="false" [maximizable]="true"
  [style]="{width: '60vw', height: '70vh'}" appendTo="body">
  <div class="edit-message-content">
    <!-- <textarea pTextarea [(ngModel)]="editMessageContent"></textarea> -->
    <app-monaco-editor *ngIf="isEditDialogVisible" [editorOptions]="monacoEditorOptions"
      [(content)]="editMessageContent"></app-monaco-editor>
  </div>

  <ng-template #footer>
    <div class="footer-button-controls">
      <p-button label="Cancel" (click)="onMessageEditClosed(true)"></p-button>
      <p-button label="OK" (click)="onMessageEditClosed(false)"></p-button>
    </div>
  </ng-template>
</p-dialog>