<div class="login-container">
    <p-panel header="User Login">
        <div [formGroup]="loginForm">
            <p-iftalabel>
                <input pSize="large" autocomplete="off" pInputText id="user-name" formControlName="userName">
                <label for="user-name">Your Name</label>
            </p-iftalabel>
            <p-iftalabel>
                <input pSize="large" autocomplete="off" pInputText type="password" id="password" formControlName="password">
                <label for="website">Password</label>
            </p-iftalabel>
        </div>

        <ng-template #footer>
            <div class="button-container">
                <!-- <p-button severity="info" label="?" (click)="showHelp()"></p-button> -->
                <p-button type="primary" label="OK" (click)="submit()"></p-button>
            </div>
            <div>
                Don't have an account?  Head over to the <a routerLink="../register">registration</a> page!
            </div>
        </ng-template>
    </p-panel>
</div>

<p-dialog [(visible)]="isHelpDialogVisible" header="Login Info">
    <div class="login-explained">
        I have nothing for this right now.
    </div>
    <ng-template #footer>
        <div class="button-container">
            <p-button (click)="closeInfo()" label="Close"></p-button>
        </div>
    </ng-template>
</p-dialog>