<div class="chat-job-list-component">
    <p-card class="h-100 d-block top-panel">
        <p-panel showHeader="false">
            <p-floatlabel>
                <input id="chat-job-search" autocomplete="off" pInputText [(ngModel)]="searchText" />
                <label for="chat-job-search">Search</label>
            </p-floatlabel>

            <p-button class="new-chat-job-btn" icon="fa fa-plus" label="New Job"
                (click)="showNewJobDialog()"></p-button>
        </p-panel>

        <ng-container *ngIf="chatJobGroups">
            <ng-container *ngIf="chatJobGroups.length < 2; else groupList">
                <div *ngFor="let job of jobsList" class="chat-job-card-container">
                    <div chat-job-card-controls>
                        <p-button icon="fa fa-trash" severity="danger" size="small" [rounded]="true"
                            (click)="deleteJob(job)"></p-button>
                    </div>
                    <div (click)="selectJob(job)">
                        <h5>
                            {{job.name}}
                        </h5>
                    </div>
                </div>
            </ng-container>

            <ng-template #groupList>
                <p-accordion [value]="selectedGroupId">
                    <p-accordion-panel *ngFor="let group of chatJobGroups; let index = index" [value]="group.group">
                        <p-accordion-header>
                            {{ group.group }}
                        </p-accordion-header>
                        <p-accordion-content>
                            <div *ngFor="let job of group.items" class="chat-job-card-container">
                                <div class="chat-job-card-controls">
                                    <p-button icon="fa fa-trash" severity="danger" size="small" [rounded]="true"
                                        (click)="deleteJob(job)"></p-button>
                                </div>
                                <div (click)="selectJob(job)">
                                    <h5>
                                        {{job.name}}
                                    </h5>
                                </div>
                            </div>
                        </p-accordion-content>
                    </p-accordion-panel>
                </p-accordion>
            </ng-template>
        </ng-container>
    </p-card>

    <!-- New Job Dialog -->
    <p-dialog header="Create New Job" [(visible)]="isNewJobDialogVisible" [modal]="true" [closable]="true"
        [dismissableMask]="true">
        <div class="p-fluid">
            <div class="p-field">
                <label for="newJobName">Job Name</label>
                <input id="newJobName" autocomplete="off" type="text" pInputText [(ngModel)]="newJobName" />
            </div>
        </div>
        <ng-template #footer>
            <div class="footer-button-controls">
                <button pButton type="button" label="Create" (click)="createJobFromDialog()"
                    [disabled]="!newJobName.trim()"></button>
            </div>
        </ng-template>
    </p-dialog>
</div>