<div class="chat-room-detail-columns">
    <div class="column column-1">
        <h3>Agent Configurations</h3>
        <div *ngIf="agentConfigurations$ | async as agentConfigurations; else noAgents">
            <div *ngFor="let agent of agentConfigurations" class="object-panel">
                <div class="object-panel-header">
                    {{ agent.name }} <span *ngIf="agent.chatName">({{ agent.chatName }})</span>
                </div>
                <div class="object-panel-content">
                    <div><b>Description:</b> {{ agent.description }}</div>
                </div>
            </div>
        </div>
        <ng-template #noAgents>
            <div>No agent configurations found for this project.</div>
        </ng-template>
    </div>
    <div class="column column-2">
        <h3>Job Configs</h3>
        <div *ngIf="chatJobConfigurations$ | async as chatJobs; else noJobs">
            <div *ngFor="let job of chatJobs" class="object-panel">
                <div class="object-panel-header">
                    {{ job.name }}
                </div>
                <div class="object-panel-content">
                    <div *ngIf="job.instructions?.length"><b>Instructions:</b> {{ job.instructions.length }}</div>
                    <div *ngIf="job.plugins?.length"><b>Plugins:</b> {{ job.plugins.length }}</div>
                </div>
            </div>
        </div>
        <ng-template #noJobs>
            <div>No chat job configurations found for this project.</div>
        </ng-template>
    </div>
    <div class="column column-3">
        <h3>Agent Instances</h3>
        <div *ngIf="agentInstances$ | async as agentInstances; else noAgentInstances">
            <div *ngIf="agentInstances.length < 1">No agent instances found for this chat room.</div>
            <div *ngFor="let instance of agentInstances" class="object-panel">
                <div class="object-panel-header">
                    {{ instance.name || instance._id }}
                </div>
                <div class="object-panel-content">
                </div>
            </div>
        </div>
        <ng-template #noAgentInstances>
            <div>No agent instances found for this chat room.</div>
        </ng-template>
    </div>
    <div class="column column-4">
        <h3>Job Instances</h3>
        <div *ngIf="chatJobInstances$ | async as jobInstances; else noJobInstances">
            <div *ngIf="jobInstances.length < 1">No job instances found for this project.</div>
            <div *ngFor="let instance of jobInstances" class="object-panel">
                <div class="object-panel-header">
                    {{ instance.id }}
                </div>
                <div class="object-panel-content">
                    <div *ngIf="instance.agentId"><b>Agent ID:</b> {{ instance.agentId }}</div>
                    <div *ngIf="instance.configurationId"><b>Config ID:</b> {{ instance.configurationId }}</div>
                    <div *ngIf="instance.disabled"><b>Status:</b> Disabled</div>
                </div>
            </div>
        </div>
        <ng-template #noJobInstances>
            <div>No job instances found for this project.</div>
        </ng-template>
    </div>
</div>