<div class="chat-room-detail-columns">
    <div class="column column-1">
        <h3>Agent Configurations</h3>
        <div *ngIf="agentConfigurations$ | async as agentConfigurations; else noAgents">
            <div *ngFor="let agent of agentConfigurations" class="object-panel">
                <div class="object-panel-header d-flex-header">
                    <span>{{ agent.name }} <span *ngIf="agent.chatName">({{ agent.chatName }})</span></span>
                    <button pButton [rounded]="true" type="button" size="small" icon="fa fa-plus"
                        (click)="createAgentInstance(agent)"></button>
                </div>
                <div class="object-panel-content object-panel-content-empty"></div>
            </div>
        </div>
        <ng-template #noAgents>
            <div>No agent configurations found for this project.</div>
        </ng-template>
    </div>
    <div class="column column-2">
        <h3>Job Configs</h3>
        <div *ngIf="chatJobConfigurations$ | async as chatJobs; else noJobs">
            <div *ngFor="let job of chatJobs" class="object-panel">
                <div class="object-panel-header d-flex-header">
                    <span>{{ job.name }}</span>
                    <button pButton [rounded]="true" type="button" size="small" icon="fa fa-plus"
                        (click)="createJobInstance(job)"></button>
                </div>
                <div class="object-panel-content object-panel-content-empty"></div>
            </div>
        </div>
        <ng-template #noJobs>
            <div>No chat job configurations found for this project.</div>
        </ng-template>
    </div>
    <div class="column column-3">
        <h3>Agent Instances</h3>
        <div *ngIf="agentInstances$ | async as agentInstances; else noAgentInstances">
            <div *ngIf="agentInstances.length < 1">No agent instances found for this chat room.</div>
            <div *ngFor="let instance of agentInstances" class="object-panel"
                draggable="true"
                (dragstart)="onAgentInstanceDragStart($event, instance)"
                (dragend)="onAgentInstanceDragEnd($event, instance)">
                <div class="object-panel-header d-flex-header">
                    <span>{{ instance.name || instance._id }}</span>
                    <button pButton [rounded]="true" type="button" size="small" severity="danger"
                        icon="fa fa-trash header-btn delete-btn"
                        (click)="confirmDeleteAgentInstance(instance)"></button>
                </div>
                <div class="object-panel-content object-panel-content-empty"></div>
            </div>
        </div>
        <ng-template #noAgentInstances>
            <div>No agent instances found for this chat room.</div>
        </ng-template>
    </div>

    <div class="column column-4">
        <h3>Job Instances</h3>
        <div *ngIf="chatJobInstances$ | async as jobInstances; else noJobInstances">
            <div *ngIf="jobInstances.length < 1">No job instances found for this project.</div>
            <div *ngFor="let instance of jobInstances" class="object-panel"
                (dragover)="onJobInstanceDragOver($event, instance)"
                (drop)="onJobInstanceDrop($event, instance)">
                <div class="object-panel-header d-flex-header">
                    <span>{{ instance.configuration.name }}</span>
                    <button pButton [rounded]="true" type="button" size="small" severity="danger"
                        icon="fa fa-trash header-btn delete-btn" (click)="confirmDeleteJobInstance(instance)"></button>
                </div>
                <div class="object-panel-content object-panel-content-empty">
                    <ng-container *ngIf="instance.agent; else agentPlaceholder">
                        <div class="job-agent-present">
                            <i class="fa fa-user agent-icon agent-present"></i>
                            <span class="agent-name">{{ instance.agent.name }}</span>
                            <button pButton [rounded]="true" type="button" size="small" severity="danger" icon="fa fa-times remove-agent-btn" (click)="onRemoveAgent(instance)"></button>
                        </div>
                    </ng-container>
                    <ng-template #agentPlaceholder>
                        <div class="job-agent-placeholder">
                            <i class="fa fa-user agent-icon agent-missing"></i>
                            <span class="agent-placeholder-text">No agent assigned</span>
                            <button pButton [rounded]="true" type="button" size="small" icon="fa fa-plus add-agent-btn" (click)="onAddAgent(instance)"></button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <ng-template #noJobInstances>
            <div>No job instances found for this project.</div>
        </ng-template>
    </div>
</div>


<p-dialog header="Instantiate Agent for Chat Room" [(visible)]="agentNameDialogVisible" [modal]="true"
    [closable]="false" [dismissableMask]="true" [style]="{width: '350px'}">
    <div class="p-fluid">
        <div class="p-field">
            <label for="agent-instance-name">Agent Name</label>
            <input pInputText id="agent-instance-name" type="text" autocomplete="off" pInputText
                [(ngModel)]="agentNameDialogValue" />
        </div>
        <div class="footer-button-controls">
            <button pButton type="button" label="OK" (click)="onAgentNameDialogOk()"
                [disabled]="!agentNameDialogValue.trim()"></button>
            <p-button type="button" label="Cancel" class="ml-2" (click)="onAgentNameDialogCancel()"></p-button>
        </div>
    </div>
</p-dialog>

<p-confirmdialog />