<div class="chat-room-detail-component">
    <h4 class="room-title">
        Chat Room: {{chatRoom!.name}}
    </h4>

    <p-tabs [(value)]="selectedTabId" scrollable>
        <p-tablist>
            <p-tab [value]="0">
                Room Info
            </p-tab>
            <p-tab [value]="1">
                Room Configuration
            </p-tab>
            <p-tab [value]="2">
                Room Messages
            </p-tab>
            <p-tab [value]="3">
                Documents
            </p-tab>
            <p-tab *ngIf="!!chatRoom?._id && projectService?.currentProjectId && chatButtonVisibility.showInline">
                <a [routerLink]="['/chatting', 'project', projectService.currentProjectId, 'chat-room', chatRoom!._id]">
                    <p-button size="small" [rounded]="true" severity="contrast" icon="fa-solid fa-comments"></p-button>
                </a>
            </p-tab>
        </p-tablist>
    </p-tabs>

    <div class="fit-container-scroll" *ngIf="selectedTabId===0">
        <div *ngIf="chatRoom">
            <p-floatlabel>
                <input id="room-name" autocomplete="off" pInputText [(ngModel)]="chatRoom!.name" />
                <label for="room-name">Room Name</label>
            </p-floatlabel>

            <div class="chat-room-description">
                <label>Description</label>
                <textarea pTextarea [(ngModel)]="chatRoom.description" [rows]="6"></textarea>
            </div>

            <div class="footer-button-controls">
                <p-button label="Save" (click)="saveName()"></p-button>
            </div>
        </div>
    </div>

    <div class="tab-content" *ngIf="selectedTabId===1">
        <div class="chat-room-detail-columns">
            <div class="column column-1">
                <h3>Partner Templates</h3>
                <div *ngIf="agentConfigurations$ | async as agentConfigurations; else noAgents">
                    <div *ngFor="let agent of agentConfigurations" class="object-panel">
                        <div class="object-panel-header agent-template d-flex-header">
                            <span>{{ agent.name }} <span *ngIf="agent.chatName">({{ agent.chatName }})</span></span>
                            <button pButton [rounded]="true" type="button" size="small" icon="fa fa-plus"
                                (click)="createAgentInstance(agent)"></button>
                        </div>
                    </div>
                </div>
                <ng-template #noAgents>
                    <div>No agent templates found for this project.</div>
                </ng-template>
            </div>

            <div class="column column-2">
                <h3>Task Templates</h3>
                <div *ngIf="chatJobConfigurations$ | async as chatJobs; else noJobs">
                    <div *ngFor="let job of chatJobs" class="object-panel">
                        <div class="object-panel-header job-template d-flex-header">
                            <span>{{ job.name }}</span>
                            <button pButton [rounded]="true" type="button" size="small" icon="fa fa-plus"
                                (click)="createJobInstance(job)"></button>
                        </div>
                    </div>
                </div>
                <ng-template #noJobs>
                    <div>No chat task templates found for this project.</div>
                </ng-template>
            </div>

            <div class="column column-3">
                <h3>Chat Room Partners</h3>
                <div *ngIf="agentInstances$ | async as agentInstances; else noAgentInstances">
                    <div *ngIf="agentInstances.length < 1">No chat partners found for this chat room.</div>

                    <div *ngFor="let instance of agentInstances" class="object-panel" draggable="true"
                        (dragstart)="onAgentInstanceDragStart($event, instance)"
                        (dragend)="onAgentInstanceDragEnd($event, instance)">

                        <div class="object-panel-header agent-instance d-flex-header">
                            <span>{{ instance.name || instance._id }}</span>
                            <button pButton [rounded]="true" type="button" size="small" severity="danger"
                                icon="fa fa-trash header-btn delete-btn"
                                (click)="confirmDeleteAgentInstance(instance)"></button>
                        </div>
                    </div>
                </div>
                <ng-template #noAgentInstances>
                    <div>No chat partners found for this chat room.</div>
                </ng-template>
            </div>

            <div class="column column-4">
                <h3>Chat Room Tasks</h3>
                <div *ngIf="chatJobInstances$ | async as jobInstances; else noJobInstances">
                    <div *ngIf="jobInstances.length < 1">No tasks found for this project.</div>

                    <div *ngFor="let instance of jobInstances; let i = index" class="job-instance-panel"
                        (dragover)="onJobInstanceDragOver($event, instance, i)"
                        (drop)="onJobInstanceDrop($event, instance, i)" (dragenter)="onJobInstanceDragEnter($event, i)"
                        (dragleave)="onJobInstanceDragLeave($event, i)" [class.drag-over]="dragOverIndex === i"
                        draggable="true" (dragstart)="onJobInstanceDragStart($event, instance, i)"
                        (dragend)="onJobInstanceDragEnd($event, instance, i)">

                        <div class="object-panel-header job-instance">
                            <app-chat-job-order-control [targetChatJob]="instance"></app-chat-job-order-control>
                            <ng-container *ngIf="!!instance?.configuration">
                                <div class="job-instance-name">{{ instance.configuration.name }}</div>
                            </ng-container>

                            <button pButton [rounded]="true" type="button" size="small" severity="danger"
                                icon="fa fa-trash header-btn delete-btn"
                                (click)="confirmDeleteJobInstance(instance)"></button>
                        </div>

                        <div class="object-panel-content object-panel-content-empty">
                            <div class="checkbox-container">
                                <p-checkbox [binary]="true" [(ngModel)]="instance.disabled"
                                    (onChange)="setAgentDisabled(instance)"></p-checkbox>
                                <label>Disabled</label>
                            </div>

                            <ng-container *ngIf="instance.agent; else agentPlaceholder">
                                <div class="job-agent-present">
                                    <button pButton [rounded]="true" type="button" size="small" severity="danger"
                                        icon="fa fa-times remove-agent-btn" (click)="onRemoveAgent(instance)"></button>
                                    <i class="fa fa-user agent-icon agent-present"></i>
                                    <span class="agent-name">{{ instance.agent.name }}</span>
                                </div>
                            </ng-container>

                            <ng-template #agentPlaceholder>
                                <div class="job-agent-placeholder">
                                    <button pButton [rounded]="true" type="button" size="small"
                                        icon="fa fa-plus add-agent-btn"
                                        (click)="openPartnerSelectionForRoom(instance)"></button>

                                    <i class="fa fa-user agent-icon agent-missing"></i>

                                    <span class="agent-placeholder-text">No partner assigned</span>
                                </div>
                            </ng-template>
                        </div>

                    </div>
                </div>
                <ng-template #noJobInstances>
                    <div>No job instances found for this project.</div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="fit-container-scroll" *ngIf="selectedTabId===2">
        <div>
            <app-positionable-message-list *ngIf="chatRoom"
                [messages]="chatRoom.roomInstructions"></app-positionable-message-list>

            <div class="footer-button-controls">
                <p-button label="Save" (click)="saveRoom()"></p-button>
            </div>
        </div>
    </div>

    <div class="fit-container-scroll" *ngIf="selectedTabId===3">
        <app-document-permissions [permissions]="chatRoom?.chatDocumentReferences"></app-document-permissions>

        <div class="footer-button-controls">
            <p-button label="Save" (click)="saveRoom()"></p-button>
        </div>
    </div>
</div>

<p-dialog header="Instantiate Partner for Chat Room" [(visible)]="agentNameDialogVisible" [modal]="true"
    [closable]="false" [dismissableMask]="true" [style]="{width: '350px'}">
    <div class="p-fluid">
        <p-floatlabel>
            <input id="agent-instance-name" autocomplete="off" pInputText [(ngModel)]="agentNameDialogValue" />
            <label for="agent-instance-name">Agent Name</label>
        </p-floatlabel>
    </div>

    <ng-template #footer>
        <div class="footer-button-controls">
            <p-button type="button" label="Cancel" class="ml-2" (click)="onAgentNameDialogCancel()"></p-button>
            <p-button type="button" label="OK" (click)="onAgentNameDialogOk()"
                [disabled]="!agentNameDialogValue.trim()"></p-button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog header="Select Partner" [(visible)]="isPartnerSelectionDialogVisible" header="Select Partner For Job">
    <div>
        <p-select [options]="(agentInstances$ | async)!" appendTo="body" [style]="{width: '100%'}"
            [(ngModel)]="selectedPartnerForJob" optionLabel="name"></p-select>
    </div>

    <ng-template #footer>
        <p-button label="Cancel" (click)="partnerSelectionClosed(true)"></p-button>
        <p-button label="OK" (click)="partnerSelectionClosed(false)"></p-button>
    </ng-template>
</p-dialog>

<p-confirmdialog />


<div class="chat-button-container"
    *ngIf="!!chatRoom?._id && projectService?.currentProjectId && chatButtonVisibility.showFloating">
    <a [routerLink]="['/chatting', 'project', projectService.currentProjectId, 'chat-room', chatRoom!._id]">
        <p-button size="small" [rounded]="true" severity="contrast" icon="fa-solid fa-comments"></p-button>
    </a>
</div>