<div class="document-selector-component">
    <p-toolbar>
        <ng-template #start>
            <p-button size="small" [rounded]="true" severity="info" icon="fa fa-square-plus"
                (click)="collapseAll()"></p-button>

            <p-button size="small" [rounded]="true" severity="info" icon="fa fa-square-minus"
                (click)="expandAll()"></p-button>
        </ng-template>
    </p-toolbar>

    <div class="tree-container">
        <p-tree [value]="documentNodes" [(selection)]="selectedTreeDocument" selectionMode="single"></p-tree>
    </div>
</div>