@import '../../../../../layout.scss';

.document-selector-component {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .tree-container {
        overflow-y: auto;
        flex: 1 1 auto;
    }    
}

:host {
    height: 100%;
    overflow-y: auto;

}