@import "../../../style_variables";

header.header {
  background-color: rgb(97, 99, 101);
  max-height: $header-height;
  text-align: center;

  &.not-printable {
    // No print styles needed here, but class is present
  }

  .header-center {
    display: flex;
    flex-direction: column;
    align-items: center;

    .site-header-title {
      color: black;
      font-size: 3.2rem;
      margin: 0.25rem 0 1rem 0;
    }

    nav {
      display: flex;
      width: 100%;
      gap: 5rem;
      justify-content: center;
      align-items: center;
      background-color: black;

      a {
        color: white;
        font-size: 1.1rem;
        padding: 0.3rem 0.7rem 0 0.7rem;
      }
    }
  }

  .header-gutter {
    height: 0.5rem;
  }
}