<header class="not-printable text-center header">
  <div class="header-center">
    <h1 class="site-header-title">Richard's Chat App</h1>
    <nav *ngIf="isMenuVisible">

      <a (click)="login()" *ngIf="isMenuLoginVisible">Login</a>

      <ng-container *ngIf="isNavigationVisible">
        <a routerLink="/projects">Projects</a>

        <ng-container *ngIf="currentProjectId && currentChatRoomId">
          <a [routerLink]="['/projects', currentProjectId, 'chat-rooms', currentChatRoomId]">
            Room Cfg
          </a>
        </ng-container>

        <ng-container *ngIf="isAdminUser">
          <a routerLink="/admin/ollama-configurations">Ollama Models</a>
        </ng-container>

        <a (click)="logout()">Log Out</a>
      </ng-container>

    </nav>
  </div>

  <div class="header-gutter">
  </div>
</header>