@import "primeicons/primeicons.css";

html {
    height: 100%;
    // This controls the size of the entire site through the
    //  mechanics of the primeng template.
    font-size: 12px;
}

body {
    height: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.4;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.p-floatlabel {
    margin-top: 2em;
}

.v-align-base {
    align-items: baseline;
}

@media print {
    .site-content-container * {
        visibility: collapse;
        display: none;
    }

    .printable,
    .printable * {
        visibility: visible !important;
        display: revert !important;
    }

    .not-printable {
        visibility: collapse;
        display: none;
    }
}

.checkbox-container {
    display: flex;

    p-checkbox {
        margin-right: 1em;
    }
}

.footer-button-controls {
    display: flex;
    width: 100%;
    justify-content: end;

    > * {
        margin-left: 1.5em;
    }
}
