.permission-row {
    display: flex;

    >* {
        margin-right: 1em;
    }

    .document-name-field {
        flex: 0 0 none;
        min-width: 10em;

        .document-name {
            font-weight: bold;
        }
    }

    .checkbox-container {
        p-checkbox {
            margin-right: 0.5em;
        }
    }
}