<div class="agent-config-list-component">
    <p-card class="h-100 d-block">
        <p-panel showHeader="false">
            <p-button class="new-agent-config-btn" icon="fa fa-plus" label="New Agent Config"
                (click)="createNewAgentConfig()"></p-button>
        </p-panel>


        <ng-container *ngIf="agentGroups">
            <ng-container *ngIf="agentGroups.length < 2; else groupList">
                <div *ngFor="let agent of agentList" class="chat-agent-card-container">
                    <div chat-job-card-controls>
                        <p-button icon="fa fa-trash" severity="danger" size="small" [rounded]="true"
                            (click)="deleteAgentConfig(agent)"></p-button>
                    </div>
                    <div (click)="selectAgentConfig(agent)">
                        <h5>
                            {{agent.name}} <span>({{agent.chatName}})</span>
                        </h5>
                    </div>
                </div>
            </ng-container>

            <ng-template #groupList>
                <p-accordion [value]="selectedAgentGroupId">
                    <p-accordion-panel *ngFor="let group of agentGroups; let index = index" [value]="group.group">
                        <p-accordion-header>
                            {{ group.group }}
                        </p-accordion-header>
                        <p-accordion-content>
                            <div *ngFor="let agent of group.items" class="chat-agent-card-container">
                                <div class="chat-agent-card-controls">
                                    <p-button icon="fa fa-trash" severity="danger" size="small" [rounded]="true"
                                        (click)="deleteAgentConfig(agent)"></p-button>
                                </div>
                                <div (click)="selectAgentConfig(agent)">
                                    <h5>
                                        {{agent.name}} <span>({{agent.chatName}})</span>
                                    </h5>
                                </div>
                            </div>
                        </p-accordion-content>
                    </p-accordion-panel>
                </p-accordion>
            </ng-template>
        </ng-container>

    </p-card>
</div>

<app-create-agent-config [(isVisible)]="isNewAgentConfigDialogVisible"></app-create-agent-config>