<div class="agent-config-list-component">
    <p-card class="h-100 d-block">
        <p-panel showHeader="false">
            <p-floatlabel>
                <input id="agent-config-search" autocomplete="off" pInputText [(ngModel)]="searchText" />
                <label for="agent-config-search">Search</label>
            </p-floatlabel>

            <p-button class="new-agent-config-btn" icon="fa fa-plus" label="New Agent Config"
                (click)="createNewAgentConfig()"></p-button>
        </p-panel>

        <ng-container *ngIf="!!(agentConfigList$ | async)">
            <p-dataview [value]="(agentConfigList$ | async)!">
                <ng-template #header>
                    Agents
                </ng-template>

                <ng-template #list let-items>
                    <div *ngFor="let config of items" class="agent-config-card-container">
                        <p-panel [showHeader]="false">
                            <div class="agent-config-title" (click)="selectAgentConfig(config)">
                                <h5>
                                    {{config.name}} ({{config.chatName}})
                                </h5>
                            </div>

                            <div class="agent-config-card-wrapper">
                                <div class="agent-config-card-content"
                                    [innerHtml]="getAgentDescription(config)">
                                </div>
                                <div class="agent-config-card-controls">
                                    <p-button icon="fa fa-trash" severity="danger"
                                        (click)="deleteAgentConfig(config)"></p-button>
                                </div>
                            </div>
                        </p-panel>
                    </div>
                </ng-template>
            </p-dataview>
        </ng-container>
    </p-card>
</div>

<app-create-agent-config [(isVisible)]="isNewAgentConfigDialogVisible"></app-create-agent-config>