<div>
    <p-dropdown [options]="voiceTypes" [(ngModel)]="selectedVoiceType" optionLabel="label" optionValue="value"
        placeholder="Select Voice Type">
    </p-dropdown>

    <app-hume-voice-parameters *ngIf="selectedVoiceType === 'hume'"
        [humeVoiceParameters]="$any(agentConfiguration.voiceMessageParams)"></app-hume-voice-parameters>

    <div>
        <div>
            <div class="radiobutton-container">
                <p-radioButton name="providerType" value="none" [(ngModel)]="actingParametersHelper.instructionsType"
                    label="None"></p-radioButton>
                <label>None</label>
            </div>

            <div class="radiobutton-container">
                <p-radioButton name="providerType" value="static" [(ngModel)]="actingParametersHelper.instructionsType"
                    label="Static Instructions"></p-radioButton>
                <label>Static Instructions</label>
            </div>

            <div class="radiobutton-container">
                <p-radioButton name="providerType" value="ai-generated"
                    [(ngModel)]="actingParametersHelper.instructionsType"
                    label="AI Generated Instructions"></p-radioButton>
                <label>AI Generated Instructions</label>
            </div>
        </div>

        <div>
            <div *ngIf="actingParametersHelper.instructionsType === 'static'">
                <textarea pTextarea [rows]="4" [style]="{width: '100%'}"
                    [(ngModel)]="actingParametersHelper.staticInstructionsValue"></textarea>
            </div>

            <div *ngIf="actingParametersHelper.instructionsType === 'ai-generated'">
                <div class="checkbox-container">
                    <p-checkbox [binary]="true"
                        [(ngModel)]="actingParametersHelper.aiGeneratedValue.excludeFinalInstructionForActingResponse"></p-checkbox>
                    <label>Exclude Internal Final Instruction</label>
                </div>

                <div>
                    <div class="footer-controls">
                        <p-button label="add" (click)="actingParametersHelper.addInstruction()"></p-button>
                    </div>

                    <div class="instruction-row"
                        *ngFor="let msg of actingParametersHelper.instructionList; let index = index">
                        <p-button label="delete" (click)="actingParametersHelper.deleteInstruction(index)"></p-button>
                        <textarea pTextarea [(ngModel)]="msg.message"></textarea>
                    </div>
                </div>

                <app-agent-type-selector
                    [(value)]="actingParametersHelper.aiGeneratedValue.modelParams"></app-agent-type-selector>

            </div>
        </div>
    </div>
</div>