<div class="chat-document-list-component">
    <p-card class="h-100 d-block top-panel">
        <p-panel showHeader="false">
            <p-floatlabel>
                <input id="chat-document-search" autocomplete="off" pInputText [(ngModel)]="searchText" />
                <label for="chat-document-search">Search</label>
            </p-floatlabel>

            <p-button class="new-chat-document-btn" icon="fa fa-plus" label="New Document"
                (click)="showNewDocumentDialog()"></p-button>
        </p-panel>

        <ng-container *ngIf="!!(chatDocuments$ | async)">
            <p-dataview [value]="(chatDocuments$ | async)!">
                <ng-template #header>
                    Documents
                </ng-template>

                <ng-template #list let-items>
                    <div *ngFor="let doc of items" class="chat-document-card-container">
                        <p-panel [showHeader]="false">
                            <div class="chat-document-title" (click)="selectDocument(doc)">
                                <h5>
                                    {{doc.name}}
                                </h5>
                                <div class="chat-document-folder">{{doc.folderLocation}}</div>
                            </div>

                            <div class="chat-document-card-wrapper">
                                <div class="chat-document-card-content">
                                    <div>
                                        <b>Created:</b> {{doc.createdDate | date:'short'}}
                                    </div>
                                    <div>
                                        <b>Updated:</b> {{doc.updatedDate | date:'short'}}
                                    </div>
                                </div>
                                <div class="chat-document-card-controls">
                                    <p-button icon="fa fa-trash" severity="danger" size="small" [rounded]="true"
                                        (click)="deleteDocument(doc)"></p-button>
                                </div>
                            </div>
                        </p-panel>
                    </div>
                </ng-template>
            </p-dataview>
        </ng-container>
    </p-card>
</div>

<app-new-document [(visible)]="isNewDocumentDialogVisible"></app-new-document>